# 1. 匯入資料集

In [1]:
import pandas as pd

df = pd.read_excel("https://qi-xiang.github.io/DS_Team10/training_set_features.xlsx")
df

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

# 2. 找出各欄位、欄位值代表意義

* respondent_id : 調查回應編號 
* h1n1_concern : 對h1n1的擔心程度 (0、1、2、3)
* h1n1_knowledge: 對h1n1的了解程度 (0、1、2)
* behavioral_antiviral_meds : 是否有疫苗猶豫 (0、1)
* behavioral_avoidance : 是否避開公共場所 (0、1)
* behavioral_face_mask : 是否戴上口罩 (0、1)
* behavioral_wash_hands : 是否勤洗手 (0、1)
* behavioral_large_gatherings : 是否傾向參與大型聚會 (0、1)
* behavioral_outside_home :  是否傾向在戶外 (0、1)
* behavioral_touch_face : 是否常摸臉 (0、1)
* doctor_recc_h1n1 : 是否有醫生推薦接種 h1n1疫苗 ()
* doctor_recc_seasonal : 是否有醫生推薦接種流感疫苗 ()
* chronic_med_condition : 是否有慢性病
* child_under_6_months : 是否有6個月以下小孩
* health_worker : 是否是衛生工作者
* health_insurance : 是否有健保
* opinion_h1n1_vacc_effective : 認為 h1n1 疫苗的功效
* opinion_h1n1_risk : 認為 h1n1 疫苗的風險
* opinion_h1n1_sick_from_vacc :  認為接種 h1n1 疫苗的風險
* opinion_seas_vacc_effective : 認為流感疫苗的功效
* opinion_seas_risk : 認為流感疫苗的風險
* opinion_seas_sick_from_vacc :  認為接種流感疫苗的風險
* age_group : 年齡層
* education  : 教育程度
* race : 種族
* sex  : 性別
* income_poverty :  年收入  
* marital_status : 婚姻狀況
* rent_or_own : 租屋或自有宅
* employment_status : 工作狀況
* hhs_geo_region : 處在美國衛生及公共服務部劃分的10大區域的何處
* census_msa : 居住區域 (都會區、都會區主要城市、都會區非主要城市)
* household_adults : 家中有幾位成人
* household_children : 家中有幾位小孩
* ~~employment_industry : 半數為缺失值，直接忽略不計~~
* ~~employment_occupation : 半數為缺失值，直接忽略不計~~

## 2.1 找出各欄位不重複的欄位值

In [70]:
for i in df.columns:
    print(i)
    print(df[i].unique(),end='\n\n')

respondent_id
[    0     1     2 ... 26704 26705 26706]

h1n1_concern
[ 1.  3.  2.  0. nan]

h1n1_knowledge
[ 0.  2.  1. nan]

behavioral_antiviral_meds
[ 0.  1. nan]

behavioral_avoidance
[ 0.  1. nan]

behavioral_face_mask
[ 0.  1. nan]

behavioral_wash_hands
[ 0.  1. nan]

behavioral_large_gatherings
[ 0.  1. nan]

behavioral_outside_home
[ 1.  0. nan]

behavioral_touch_face
[ 1.  0. nan]

doctor_recc_h1n1
[ 0. nan  1.]

doctor_recc_seasonal
[ 0. nan  1.]

chronic_med_condition
[ 0.  1. nan]

child_under_6_months
[ 0.  1. nan]

health_worker
[ 0.  1. nan]

health_insurance
[ 1. nan  0.]

opinion_h1n1_vacc_effective
[ 3.  5.  4.  2.  1. nan]

opinion_h1n1_risk
[ 1.  4.  3.  2.  5. nan]

opinion_h1n1_sick_from_vacc
[ 2.  4.  1.  5.  3. nan]

opinion_seas_vacc_effective
[ 2.  4.  5.  3.  1. nan]

opinion_seas_risk
[ 1.  2.  4.  3.  5. nan]

opinion_seas_sick_from_vacc
[ 2.  4.  1.  5. nan  3.]

age_group
['55 - 64 Years' '35 - 44 Years' '18 - 34 Years' '65+ Years'
 '45 - 54 Years']

education
['< 12 Years' '12 Years' 'College Graduate' 'Some College' nan]

race
['White' 'Black' 'Other or Multiple' 'Hispanic']

sex
['Female' 'Male']

income_poverty
['Below Poverty' '<= $75,000, Above Poverty' '> $75,000' nan]

marital_status
['Not Married' 'Married' nan]

rent_or_own
['Own' 'Rent' nan]

employment_status
['Not in Labor Force' 'Employed' 'Unemployed' nan]

hhs_geo_region
['oxchjgsf' 'bhuqouqj' 'qufhixun' 'lrircsnp' 'atmpeygn' 'lzgpxyit'
 'fpwskwrf' 'mlyzmhmf' 'dqpwygqj' 'kbazzjca']

census_msa
['Non-MSA' 'MSA, Not Principle  City' 'MSA, Principle City']

household_adults
[ 0.  2.  1.  3. nan]

household_children
[ 0.  3.  2.  1. nan]

employment_industry
[nan 'pxcmvdjn' 'rucpziij' 'wxleyezf' 'saaquncn' 'xicduogh' 'ldnlellj'
 'wlfvacwt' 'nduyfdeo' 'fcxhlnwr' 'vjjrobsf' 'arjwrbjb' 'atmlpfrs'
 'msuufmds' 'xqicxuve' 'phxvnwax' 'dotnnunm' 'mfikgejo' 'cfqqtusy'
 'mcubkhph' 'haxffmxo' 'qnlwzans']

employment_occupation
[nan 'xgwztkwe' 'xtkaffoo' 'emcorrxb' 'vlluhbov' 'xqwwgdyp' 'ccgxvspp'
 'qxajmpny' 'kldqjyjy' 'mxkfnird' 'hfxkjkmi' 'bxpfxfdn' 'ukymxvdu'
 'cmhcxjea' 'haliazsg' 'dlvbwzss' 'xzmlyyjv' 'oijqvulv' 'rcertsgn'
 'tfqavkke' 'hodpvpew' 'uqqtjvyb' 'pvmttkik' 'dcjcmpih']

## 2.2 檢視各欄位值的缺失狀況

In [71]:
df.isnull().sum()

respondent_id                      0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

## 2.3 填補缺失值

* nominal 資料以 mode 填補
* numerical 資料以 median 填補

In [79]:
for col in df.columns:
    if df[col].dtypes == 'object':
        df[col].fillna(value=df[col].mode().max(),inplace=True)
    if df[col].dtypes != 'object':
        df[col].fillna(value=df[col].median(),inplace=True)

In [80]:
df.isnull().sum()

respondent_id                  0
h1n1_concern                   0
h1n1_knowledge                 0
behavioral_antiviral_meds      0
behavioral_avoidance           0
behavioral_face_mask           0
behavioral_wash_hands          0
behavioral_large_gatherings    0
behavioral_outside_home        0
behavioral_touch_face          0
doctor_recc_h1n1               0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
opinion_h1n1_vacc_effective    0
opinion_h1n1_risk              0
opinion_h1n1_sick_from_vacc    0
opinion_seas_vacc_effective    0
opinion_seas_risk              0
opinion_seas_sick_from_vacc    0
age_group                      0
education                      0
race                           0
sex                            0
income_poverty                 0
marital_status                 0
rent_or_own                    0
employment_status              0
hhs_geo_region                 0
census_msa                     0
household_adults               0
household_children             0
employment_industry            0
employment_occupation          0
dtype: int64

### 目前已經沒有任何缺失值

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26707 non-null  float64
 2   h1n1_knowledge               26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_h1n1             26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_h1n1_vacc_effective  26707 non-null  float64
 17  opinion_h1n1_risk            26707 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    26707 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               26707 non-null  object
 27  marital_status               26707 non-null  object
 28  rent_or_own                  26707 non-null  object
 29  employment_status            26707 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26707 non-null  float64
 33  household_children           26707 non-null  float64
dtypes: float64(23), int64(1), object(10)
memory usage: 6.9+ MB

## 2.4 刪去最後2個欄位
因為該欄位的意義不明，且在原始資料中就已經有過半資料缺失。

In [82]:
df = df.drop(columns=['employment_industry', 'employment_occupation'])
df

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",0.0,0.0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,Hispanic,Female,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0

## 2.5 串接 training data label

In [86]:
df_label = pd.read_excel("training_set_labels.xlsx")
df_label = df_label.drop('respondent_id',axis=1)

In [87]:
df_label

       h1n1_vaccine  seasonal_vaccine
0                 0                 0
1                 0                 1
2                 0                 0
3                 0                 1
4                 0                 0
...             ...               ...
26702             0                 0
26703             0                 0
26704             0                 1
26705             0                 0
26706             0                 0

[26707 rows x 2 columns]

In [88]:
df_final = pd.concat([df,df_label],axis=1)
df_final

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",0.0,0.0,0,1
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,0,0

In [89]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26707 non-null  float64
 2   h1n1_knowledge               26707 non-null  float64
 3   behavioral_antiviral_meds    26707 non-null  float64
 4   behavioral_avoidance         26707 non-null  float64
 5   behavioral_face_mask         26707 non-null  float64
 6   behavioral_wash_hands        26707 non-null  float64
 7   behavioral_large_gatherings  26707 non-null  float64
 8   behavioral_outside_home      26707 non-null  float64
 9   behavioral_touch_face        26707 non-null  float64
 10  doctor_recc_h1n1             26707 non-null  float64
 11  doctor_recc_seasonal         26707 non-null  float64
 12  chronic_med_condition        26707 non-null  float64
 13  child_under_6_months         26707 non-null  float64
 14  health_worker                26707 non-null  float64
 15  health_insurance             26707 non-null  float64
 16  opinion_h1n1_vacc_effective  26707 non-null  float64
 17  opinion_h1n1_risk            26707 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26707 non-null  float64
 19  opinion_seas_vacc_effective  26707 non-null  float64
 20  opinion_seas_risk            26707 non-null  float64
 21  opinion_seas_sick_from_vacc  26707 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    26707 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               26707 non-null  object
 27  marital_status               26707 non-null  object
 28  rent_or_own                  26707 non-null  object
 29  employment_status            26707 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26707 non-null  float64
 33  household_children           26707 non-null  float64
 34  h1n1_vaccine                 26707 non-null  int64
 35  seasonal_vaccine             26707 non-null  int64
dtypes: float64(23), int64(3), object(10)
memory usage: 7.3+ MB

# 3. Exploratory Data Analysis and Visualizations